/* ==========================================================================
   Components -> Buttons

   Button styling.
   Nb. these are not necessarily <button> elements
   ========================================================================== */

.btn {
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color $gtd / 3 ease, color $gtd / 3 ease, bottom $gtd / 1.5 ease;
}

a.btn {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: white;
}

/**
 * Helpers & Tweaks
 */

// Remove style on hover for touch devices
.touch .btn:hover {
  color: white !important;
}