/* ==========================================================================
   Components -> Choice Items

   Choice items are the final step of the user's journey.
   They contain the information on the different topics in the app.
   ========================================================================== */

.choice-item {
  height: 100%;
  padding: 80px 120px;

  @media only screen and (max-height: 700px) and (min-width: 900px) {
    overflow-y: scroll; // fix copy not fitting on small screen-sizes
  }

  @include respond-to(vertical) {
    height: 100vh;
    padding: 20px;
    overflow-y: scroll;
  }
}

.choice-item__wrapper {
  @include respond-to(mobile-large) {
    max-height: 540px;
    max-height: 80vh;
    overflow-y: scroll;
  }
  @include respond-to(mobile-small) {
    max-height: 300px;
    max-height: 75vh;
  }
}

.choice-item__cta {
  width: 100%;
  max-width: 350px;
  float: left;
  clear: both;
  font-size: 18px;
  transition: all $gtd ease;

  @include respond-to(vertical) {
    width: 95%;
    max-width: none;
    float: none;
    position: absolute;
    bottom: 20px;
    left: 2.5%;
  }

  & + & {
    margin-top: 15px;
  }

  > i {
    margin-right: 10px;
  }
}

.choice-item__cta--trigger {
  z-index: 2;
  bottom: 30px;
}

.choice-item__title {
  @extend .like-h3;
  margin: 0;
  position: relative; // allow sprites

  @include respond-to(vertical) {
    display: inline-block; // auto-width
  }
}

.choice-item .title--choice { // extra title when in vert
  width: 100%;
  margin: 80px 0 40px;
}

/**
 * Helpers
 */
.choice-item.visible { // Make this panel visible
  z-index: 2;
}