/* ==========================================================================
   Components -> Choice Items

   Choice items are the final step of the user's journey.
   They contain the information on the different topics in the app.
   ========================================================================== */

.choice-item {
  height: 100%;
  padding: 80px 120px;

  @media only screen and (max-height: 700px) and (min-width: 900px) {
    overflow-y: scroll; // fix copy not fitting on small screen-sizes
  }

  @include respond-to(vertical) {
    height: 100vh;
    padding: 20px;
    overflow-y: scroll;
  }
}

.choice-item__cta {
  width: 100%;
  max-width: 350px;
  float: left;
  clear: both;
  font-size: 18px;

  @include respond-to(vertical) {
    float: none;
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
  }

  & + & {
    margin-top: 15px;
  }

  > i {
    margin-right: 10px;
  }
}

.choice-item__title {
  @extend .like-h3;
  margin: 0;
  position: relative; // allow sprites

  @include respond-to(vertical) {
    display: inline-block; // auto-width
  }
}

/**
 * Helpers
 */
.choice-item.visible { // Make this panel visible
  z-index: 2;
}