/* ==========================================================================
   Components -> Choice Items

   Choice items are the final step of the user's journey.
   They contain the information on the different topics in the app.
   ========================================================================== */

.choice-item {
  height: 100%;
  padding: 80px 120px;

  @media only screen and (max-height: 580px) {
    overflow-y: scroll; // fix copy not fitting on small screen-sizes
  }
}

.choice-item__cta {
  width: 100%;
  max-width: 350px;
  float: left;
  clear: both;
  font-size: 18px;

  & + & {
    margin-top: 15px;
  }

  > i {
    margin-right: 10px;
  }
}

.choice-item__title {
  font-size: 2em;
  margin: 0;
}