/* ==========================================================================
   Components -> Lists

   List styles.
   ========================================================================== */

.step__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.step__menu__item {
  height: 33.33%;
  position: relative;

  // iOS fix
  .ios & {
    height: 33.33%;
  }

  // add a pseudo element to account for the curved border (basically adds background color extension)
  // color is defined in trumps/_helpers.scss
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
  }

  .step__container--left &:before {
    right: -24%;
  }
  .step__container--right &:before {
    left: -24%;
  }

  &:hover .title {
    text-decoration: underline;
  }
}

/**
 * Quantity query
 * Define height of step__menu__item based on no. of <li> elements present in DOM
 */
.step__menu__item:nth-last-child(-n+1):first-child, 
.step__menu__item:nth-last-child(-n+1):first-child ~ .step__menu__item {
  height: 100%;

  @include respond-to(vertical) {
    height: 33.33%;
  }
}
.step__menu__item:nth-last-child(-n+2):first-child, 
.step__menu__item:nth-last-child(-n+2):first-child ~ .step__menu__item {
  height: 50%;

  @include respond-to(vertical) {
    height: 50%;
  }
}

/**
 * Tweaks
 */
.step__menu__item:first-child .title {
  @include respond-to(vertical) {
    top: 66%; // Shift title down when in vertical appearance to allow for top title (How can a portal...)
  }

  @include respond-to(mobile-small) {
    top: 55%;
  }
}