/* ==========================================================================
   Components -> Overlay
   ========================================================================== */

.overlay {
  position: fixed;
  top: 0; // allow for header
  right: 0;
  left: 0;
  bottom: 0;
  padding: 80px;
  background: black;
  background: rgba(0, 0, 0, .85);
  z-index: 5;
  text-align: center;

  @include respond-to(vertical) {
    padding: 40px;
    top: 85px; // allow for header
  }

  @include respond-to(mobile-small) {
    padding: 10px 0;
  }
}

.overlay--hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay__close,
.overlay__show {
  cursor: pointer;
}