/* ==========================================================================
   Components -> Steps

   These are the styles for the 'steps' or 'choices' that a user will select in the UI.
   This will be the main bulk of styles for the app.
   ========================================================================== */

.step__container {
  position: relative;
  height: 100%;

  @include respond-to(vertical) {
    height: 50%;
    @include span(12);

    // iOS vh fix
    .ios & {
      height: 50%;
    }
  }
}

.step {
  height: 100%;
  position: absolute;
  top: 0;

  @include respond-to(vertical) {
    @include span(12);
    text-align: center;
  }
}

.step--one {
  @include respond-to(vertical) {
    height: 100%;

    // iOS vh fix
    .ios & {
      height: 100%;
    }
  }

  // Curved border
  &:after {
    content: '';
    height: 150%;
    width: 55%;
    position: absolute;
    top: -25%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include respond-to(vertical) {
      display: none;
    }
  }

  &:hover .title { 
    text-decoration: underline;
  }
}
.step__container--left .step--one:after {
  left: -54.9%; // .9 to avoid slight gap
  background-image: url(../assets/img/border-left2.png);
}
.step__container--right .step--one:after {
  right: -54.9%; // .9 to avoid slight gap
  background-image: url(../assets/img/border-right2.png);
}

.step--two {
  @include respond-to(vertical) {
    height: 200%;

    // iOS fix
    .ios & {
      height: 200%;
    }
  }
}
.step__container--left .step--two {
  transform: translateX(-155%);
  left: 0;

  @include respond-to(vertical) {
    transform: translate(0, -100%);
  }
}
.step__container--right .step--two {
  transform: translateX(155%);
  right: 0;

  @include respond-to(vertical) {
    transform: translate(0, 50%);
  }
}

.step__container--left .step--three {
  transform: translateX(-255%);
  left: 0;

  @include respond-to(vertical) {
    transform: translate(0, -200%);
  }
}
.step__container--right .step--three {
  transform: translateX(255%);
  right: 0;

  @include respond-to(vertical) {
    transform: translate(0, 150%);
  }
}

.step__title {
  width: 100%;
  position: relative;
  text-align: center;
  transition: all $gtd ease;
  z-index: 3; // keep above &:after pseudo elem with bg

  @include respond-to(tablet) {
    width: 60%;
  }
}
.step__container--right .step--one__title {
  left: 60%;

  @include respond-to(vertical) {
    left: 50%;
    top: 66%;
  }
}
.step__container--left .step--one__title {
  left: 40%;

  @include respond-to(vertical) {
    left: 50%;
    top: 33%;
  }
}

.step__title--border {
  width: auto;
  top: 45% !important;
  transform: translate(-50%, -50%) rotate(-270deg) !important;

  @include respond-to(tablet) {
    font-size: 1.4em;
  }

  @include respond-to(vertical) {
    visibility: hidden;
  }
}
.step__title--border--left {
  left: -50% !important; // overriding centered class
}
.step__title--border--right {
  left: 150% !important; // overriding centered class
}

/**
 * Helpers
 */
.shift-left .title--main__container {
  left: 30%;
}
.shift-right .title--main__container {
  left: 70%;
}
.shift-right .step__container--right .step--one__title {
  left: 100%;
}
.shift-left .step__container--left .step--one__title {
  left: 0;
}