/* ==========================================================================
   Components -> Titles

   Titles.
   ========================================================================== */

.title {
  margin: 0;
  padding: 0;
}

.title--main__container {
  background-color: black;
  color: white;
  height: 300px;
  width: 300px;
  z-index: 4;
  transition: all $gtd / 1.25 ease;

  .shifted & {
    //transform: translate(-50%, -50%); // fix element moving to top of page when <body> is transformed
    transition: none;
  }

  @include respond-to(mobile-large) {
    width: 250px;
    height: 250px;
  }

  @include respond-to(mobile-small) {
    height: 150px;
    width: 150px;
  }
}
.title--main {
  text-align: center;
}

.title--choice {
  width: 80%;
}

.like-h1,
.like-h2,
.like-h3 {
  font-size: 1.8em;
  font-weight: bold;

  @include respond-to(mobile-small) {
    font-size: 1.25em;
  }
}

.title__helper {
  width: 100%;
  text-align: center;
  background-image: url(../assets/img/border-bottom.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 0;
}