/* ==========================================================================
   Settings.

   Global variables and config. Fonts, colors, breakpoints etc.
   ========================================================================== */

$clr-text:  #ffffff;
$clr-body:  #5f6b78;
$clr-one:   #ea4e5d;
$clr-two:   #ad9fcd;
$clr-three: #88cdd3;
$clr-four:  #ffe200;
$clr-five:  #ffd18b;
$clr-six:   #7cc576;

$breakpoints: (
  'mobile':   ( max-width: 767px ),
  'tablet':   ( max-width: 1025px ),
  'vertical': ( max-width: 901px )
) !default;

$gtd: .9s;

@font-face {
  font-family: 'ApexBook';
  src: url(../assets/fonts/ApexRounded-Book.eot?#iefix) format('embedded-opentype'), 
       url(../assets/fonts/ApexRounded-Book.woff) format('woff'), 
       url(../assets/fonts/ApexRounded-Book.ttf) format('truetype'),
       url(../assets/fonts/ApexRounded-Book.svg) format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url(../assets/fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'), 
       url(../assets/fonts/fontawesome-webfont.woff) format('woff'), 
       url(../assets/fonts/fontawesome-webfont.ttf) format('truetype'),
       url(../assets/fonts/fontawesome-webfont.svg) format('svg');
}