/* ==========================================================================
   Base

   Unclassed HTML elements.
   ========================================================================== */

* {
  box-sizing: border-box;
  transition: transform $gtd ease;
}

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: $clr-text;
  @include mainFontStack();
}

body {
  @if $font-smoothing == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#main {
  height: 100%; 
  width: 100%;
  position: relative;
  top: 0;

  @include respond-to(mobile-large) {
    height: calc(100% - 85px); // allow for header
    top: 85px; // allow for header
  }
}

h1,
h2,
h3 {
  font-size: 2em;

  @include respond-to(mobile-small) {
    font-size: 1.25em;
  }
}

ol,
ul {
  list-style: none;
}