/* ==========================================================================
   Base

   Unclassed HTML elements.
   ========================================================================== */

* {
  box-sizing: border-box;
  transition: transform $gtd ease;
}

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  color: $clr-text;
  -webkit-font-smoothing: antialiased;

  @include mainFontStack();
}

h1,
h2,
h3 {
  font-size: 2em;

  @include respond-to(mobile-small) {
    font-size: 1.25em;
  }
}